<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons>
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-pickup-call-card status="hold" updateAt="23/08/2024 13.55" createAt="20/08/2024"
  notes="we have two bags that are full, one with plastic and the other with glassess"></app-pickup-call-card>
  <app-pickup-call-card status="processing" updateAt="24/08/2024 19.11" createAt="20/08/2024"
  notes="we have two bags that are full"></app-pickup-call-card>
  <app-pickup-call-card status="finished" updateAt="24/08/2024 20.07" createAt="20/08/2024"
  notes="" value="$35,00"></app-pickup-call-card>
</ion-content>
