<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons>
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../../../assets/icon/map.png" alt="">
  <ion-card>
    <ion-card-content>
      <p>Address: Jl. Waturenggong No. 552, Panjer, Kec. Denpasar Barat, Kota Denpasar, Bali 80234, Indonesia</p>
      <p>Complement: Apto 1000</p>
      <p>Neighbourhood: Panjer</p>
      <p>Zipcode: 80234</p>
      <p>City name: Kota Denpasar, Bali</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="warning" (click)="createPickup()">Create pickup call</ion-button>
</ion-content>
